*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* HEADER ZONE */
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1rem;
    background-color: rgb(46, 58, 70);
}

i{
    color: rgb(26, 215, 96);
    font-size: 40px;
}

select{
    padding: 0.3rem 0.7rem;
}

/* MAIN ZONE */

main{
    background-color: rgb(30, 45, 59);
}

.card_dark{
    background-color: rgb(46, 58, 70);
}

.card_dark div{
    color: grey;
}

.card_dark h3{
    color: white;
}

